<section ng-controller="ReimbursementController" class="container">
    <p ng-if="success" class="alert alert-success">Thank you for filling this out!</p>
    <form name="reiumbursementForm" novalidate ng-submit="Submit()">
        <div class="reiumbursement">
            <h1>Completely fill out this form to get reimbursed</h1>

            <div class="form-group">
                <label for="nameInp">Name: </label>
                <p class="validation-error name-error"
                   ng-if="reimbursementForm.nameInp.$touched && reimbursementForm.nameInp.$error.required"></p>

                <input id="nameInp" name="nameInp" type="text" class="form-control"
                       ng-model="user.name" required autofocus />
            </div>

            <div class="form-group">
                <label for="amountInp">Amount: </label>
                <p class="validation-error amount-error"
                   ng-if="reimbursementForm.amountInp.$touched && reimbursementForm.amountInp.$error.required"></p>

                <p class="validation-error amount-error"
                   ng-if="reimbursementForm.amountInp.$touched && reimbursementForm.amountInp.$error.pattern"></p>

                <input id="amountInp" name="amountInp" type="number" class="form-control" pattern="[0-9]+"
                       ng-model="user.amount" required />
            </div>

            <div class="form-group">
                <label for="vendorInp">Vendor: </label>
                <p class="validation-error amount-error"
                   ng-if="reimbursementForm.vendorInp.$touched && reimbursementForm.vendorInp.$error.required"></p>

                <input id="vendorInp" name="vendorInp" type="text" class="form-control"
                       ng-model="user.vendor" required />
            </div>



        </div>

    </form>
</section>